  body{
    background-color: #F5D6B4;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    column-gap: 20px;
  }
  div {
    width: 100px;
    height: 100px;
    background: #dd6b4d;
    border-radius: 50%;
  }
  #top{
    grid-column: span 2;
  }
