body {
    background-color: #D86F45;
    display: grid;
    place-content: center;
    flex-direction: column;
    margin: 0;
}

div {
    width: 180px;
    height: 90px;
    background: #F0CD48;
    border-radius: 100rem 100rem 0 0;
    position: relative;
}

#bottom {
    rotate: 180deg;
    bottom: 10px;
}

#top {
    top: 12px;
}

h1 {
    width: 180px;
    height: 40px;
    background-color: #FDFBF8;
}