body {
    background-color: #763EDF;
    display: grid;
    place-content: center;
    ;
    grid-template-columns: auto auto;
    margin: 0;
    gap: 3px;

}

div {
    width: 80px;
    height: 80px;
    background: #6BD0FA;
}

#bottom-left,
#top-right {
    margin: 20px;
}

#top-left {
    justify-self: end;
    align-self: end;
}