body {
    background-color: #D669EC;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

div {
    width: 100px;
    height: 100px;
    background: #D669EC;
    border-radius: 50%;
    border: 20px solid #FDFBF8;
}

#line {
    background-color: #FDFBF8;
    width: 180px;
    height: 20px;
    position: absolute;
    bottom: 80px;
    border: 0;
    border-radius: 0;
    z-index: -1;
}