
  body{
    background-color: #4F77FF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    width: 70px;
    height: 70px;
    background: #4F77FF;
  }
  .top{
    background-color: #FFFFFF;
    width: 140px;
    height: 70px;
    border-radius: 100px 100px 0 0;
    position: relative;
    top: -70px
  }
  .bottom{
    background-color: #FFFFFF;
    width: 140px;
    height: 70px;
    border-radius: 100px 100px 0 0;
    position: relative;
    right:70px;
    rotate: 180deg;
  }
  .left{
    background-color: #FFFFFF;
    width: 140px;
    height: 70px;
    border-radius: 100px 100px 0 0;
    position: relative;
    bottom: 175px;
    right: 105px;
    rotate: -90deg;
  }
  .right{
    background-color: #FFFFFF;
    width: 140px;
    height: 70px;
    border-radius: 100px 100px 0 0;
    position: relative;
    bottom: 175px;
    left: 35px;
    rotate: 90deg;
  }
